
body {
  font-family: 'Muli', sans-serif;
  background-color: ###e8e8e8;
  font-size: 16px;
}
h1 {
  color: red;
  font-weight: bold;
  font-size: 75px;
}
h3 {
color: #b2724c;
  font-weight: bold;
}
a {
  color: #9bc6c3;
}
img {
  width: 250px;
  float: left;
  padding: 10px;
}
.container {
  margin: 5%;
}
span {
  font-family: 'Marck Script', cursive;
  font-size: 25px;
}
strong {
  font-family: 'Oswald', sans-serif;
  font-stretch: expanded;
}
